.incomes {
  background-color: aqua;

  &__heading {
    padding: 10px;
    font-size: 2.6rem;
  }

  &__inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  &__input {
    padding: 5px;
    font-size: 1.6rem;
  }

  &__list {
    background-color: #888;

    li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.6rem;
      padding: 10px;

      button {
        padding: 5px 15px;
        border: none;
        border-radius: 3px;

        &:nth-child(2) {
          margin-left: -100px;
        }
      }
    }
  }

  &__sum {
    font-size: 1.6rem;
  }
}

.expenses {
  background-color: aqua;

  &__heading {
    padding: 10px;
    font-size: 2.6rem;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__input {
    font-size: 1.6rem;
  }

  &__sum {
    font-size: 1.6rem;
  }
}

.add-btn {
  padding: 8px 20px;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
}
